header {

    padding: 1rem;
    background-color: #fff;
    width: calc(100% - 2rem);
    background-color: #5b70f4;

    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;

        h1 {
            font-size: 1.5rem;
            color: #444;
            font-weight: bold;
            margin-bottom: 0;
            color: #fff;
        }

        i {
            font-size: 1.5rem;
            color: #fff;
        }
    }

}